{% extends 'base.html' %}

{% block title %}
Delete Movie
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-lg-6">

        <div class="card shadow-lg border-danger rounded-4">

            <div class="card-body text-center p-5">

                <i class="bi bi-exclamation-triangle-fill text-danger"
                   style="font-size:70px;"></i>

                <h2 class="fw-bold mt-4">

                    Delete Movie

                </h2>

                <p class="lead mt-3">

                    Are you sure you want to delete

                    <strong class="text-warning">

                        "{{ movie.title }}"

                    </strong>?

                </p>

                <form method="POST">

                    {% csrf_token %}

                    <button
                        class="btn btn-danger me-2">

                        <i class="bi bi-trash-fill"></i>

                        Yes, Delete

                    </button>

                    <a
                        href="{% url 'movie_detail' movie.id %}"
                        class="btn btn-secondary">

                        Cancel

                    </a>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}